// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-l-name: 'arrow_l';
$arrow-l-x: 427px;
$arrow-l-y: 118px;
$arrow-l-offset-x: -427px;
$arrow-l-offset-y: -118px;
$arrow-l-width: 70px;
$arrow-l-height: 70px;
$arrow-l-total-width: 563px;
$arrow-l-total-height: 404px;
$arrow-l-image: '../../images/spr/sprite.png';
$arrow-l: (427px, 118px, -427px, -118px, 70px, 70px, 563px, 404px, '../../images/spr/sprite.png', 'arrow_l', );
$arrow-r-name: 'arrow_r';
$arrow-r-x: 347px;
$arrow-r-y: 118px;
$arrow-r-offset-x: -347px;
$arrow-r-offset-y: -118px;
$arrow-r-width: 70px;
$arrow-r-height: 70px;
$arrow-r-total-width: 563px;
$arrow-r-total-height: 404px;
$arrow-r-image: '../../images/spr/sprite.png';
$arrow-r: (347px, 118px, -347px, -118px, 70px, 70px, 563px, 404px, '../../images/spr/sprite.png', 'arrow_r', );
$nt-name: 'nt';
$nt-x: 480px;
$nt-y: 59px;
$nt-offset-x: -480px;
$nt-offset-y: -59px;
$nt-width: 37px;
$nt-height: 29px;
$nt-total-width: 563px;
$nt-total-height: 404px;
$nt-image: '../../images/spr/sprite.png';
$nt: (480px, 59px, -480px, -59px, 37px, 29px, 563px, 404px, '../../images/spr/sprite.png', 'nt', );
$quick-name: 'quick';
$quick-x: 0px;
$quick-y: 0px;
$quick-offset-x: 0px;
$quick-offset-y: 0px;
$quick-width: 167px;
$quick-height: 362px;
$quick-total-width: 563px;
$quick-total-height: 404px;
$quick-image: '../../images/spr/sprite.png';
$quick: (0px, 0px, 0px, 0px, 167px, 362px, 563px, 404px, '../../images/spr/sprite.png', 'quick', );
$search-name: 'search';
$search-x: 527px;
$search-y: 59px;
$search-offset-x: -527px;
$search-offset-y: -59px;
$search-width: 17px;
$search-height: 20px;
$search-total-width: 563px;
$search-total-height: 404px;
$search-image: '../../images/spr/sprite.png';
$search: (527px, 59px, -527px, -59px, 17px, 20px, 563px, 404px, '../../images/spr/sprite.png', 'search', );
$search-bg-name: 'search_bg';
$search-bg-x: 0px;
$search-bg-y: 372px;
$search-bg-offset-x: 0px;
$search-bg-offset-y: -372px;
$search-bg-width: 273px;
$search-bg-height: 32px;
$search-bg-total-width: 563px;
$search-bg-total-height: 404px;
$search-bg-image: '../../images/spr/sprite.png';
$search-bg: (0px, 372px, 0px, -372px, 273px, 32px, 563px, 404px, '../../images/spr/sprite.png', 'search_bg', );
$sub-navi-name: 'sub_navi';
$sub-navi-x: 347px;
$sub-navi-y: 59px;
$sub-navi-offset-x: -347px;
$sub-navi-offset-y: -59px;
$sub-navi-width: 123px;
$sub-navi-height: 49px;
$sub-navi-total-width: 563px;
$sub-navi-total-height: 404px;
$sub-navi-image: '../../images/spr/sprite.png';
$sub-navi: (347px, 59px, -347px, -59px, 123px, 49px, 563px, 404px, '../../images/spr/sprite.png', 'sub_navi', );
$sub-navi2-name: 'sub_navi2';
$sub-navi2-x: 347px;
$sub-navi2-y: 0px;
$sub-navi2-offset-x: -347px;
$sub-navi2-offset-y: 0px;
$sub-navi2-width: 216px;
$sub-navi2-height: 49px;
$sub-navi2-total-width: 563px;
$sub-navi2-total-height: 404px;
$sub-navi2-image: '../../images/spr/sprite.png';
$sub-navi2: (347px, 0px, -347px, 0px, 216px, 49px, 563px, 404px, '../../images/spr/sprite.png', 'sub_navi2', );
$t-bul01-name: 't_bul01';
$t-bul01-x: 507px;
$t-bul01-y: 118px;
$t-bul01-offset-x: -507px;
$t-bul01-offset-y: -118px;
$t-bul01-width: 50px;
$t-bul01-height: 50px;
$t-bul01-total-width: 563px;
$t-bul01-total-height: 404px;
$t-bul01-image: '../../images/spr/sprite.png';
$t-bul01: (507px, 118px, -507px, -118px, 50px, 50px, 563px, 404px, '../../images/spr/sprite.png', 't_bul01', );
$t-bul02-name: 't_bul02';
$t-bul02-x: 347px;
$t-bul02-y: 198px;
$t-bul02-offset-x: -347px;
$t-bul02-offset-y: -198px;
$t-bul02-width: 50px;
$t-bul02-height: 50px;
$t-bul02-total-width: 563px;
$t-bul02-total-height: 404px;
$t-bul02-image: '../../images/spr/sprite.png';
$t-bul02: (347px, 198px, -347px, -198px, 50px, 50px, 563px, 404px, '../../images/spr/sprite.png', 't_bul02', );
$t-bul03-name: 't_bul03';
$t-bul03-x: 407px;
$t-bul03-y: 198px;
$t-bul03-offset-x: -407px;
$t-bul03-offset-y: -198px;
$t-bul03-width: 50px;
$t-bul03-height: 50px;
$t-bul03-total-width: 563px;
$t-bul03-total-height: 404px;
$t-bul03-image: '../../images/spr/sprite.png';
$t-bul03: (407px, 198px, -407px, -198px, 50px, 50px, 563px, 404px, '../../images/spr/sprite.png', 't_bul03', );
$t-bul04-name: 't_bul04';
$t-bul04-x: 467px;
$t-bul04-y: 198px;
$t-bul04-offset-x: -467px;
$t-bul04-offset-y: -198px;
$t-bul04-width: 50px;
$t-bul04-height: 50px;
$t-bul04-total-width: 563px;
$t-bul04-total-height: 404px;
$t-bul04-image: '../../images/spr/sprite.png';
$t-bul04: (467px, 198px, -467px, -198px, 50px, 50px, 563px, 404px, '../../images/spr/sprite.png', 't_bul04', );
$widget-name: 'widget';
$widget-x: 177px;
$widget-y: 0px;
$widget-offset-x: -177px;
$widget-offset-y: 0px;
$widget-width: 160px;
$widget-height: 160px;
$widget-total-width: 563px;
$widget-total-height: 404px;
$widget-image: '../../images/spr/sprite.png';
$widget: (177px, 0px, -177px, 0px, 160px, 160px, 563px, 404px, '../../images/spr/sprite.png', 'widget', );
$spritesheet-width: 563px;
$spritesheet-height: 404px;
$spritesheet-image: '../../images/spr/sprite.png';
$spritesheet-sprites: ($arrow-l, $arrow-r, $nt, $quick, $search, $search-bg, $sub-navi, $sub-navi2, $t-bul01, $t-bul02, $t-bul03, $t-bul04, $widget, );
$spritesheet: (563px, 404px, '../../images/spr/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
